body{
    font-family: 'Raleway', sans-serif;
    background-color: aliceblue;
}

main{
    max-width: 960px;
    margin: 0 auto;
}
.container{
   
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */

    /* Permite que las columnas sean responsives 
    la funcino minmax, permite establece un valor minimo y maximo a las columnas
    dependiendo del tamaño de la pantalla */
    
    grid-template-columns: repeat(auto-fill,minmax(15em,1fr));
    gap: 10px;
}

.box{
    border: 2px solid black;
    border-radius: 20px;
    background-color: #FFF;
}

.box img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 2px solid blueviolet;
}

.box .texto{
    margin: 0px 10px;
}

.texto h2{
    color: darkslateblue;
}

.pt-5{
    padding-top: 5px;
}

.div-botones{
    margin: 10px 0px;
}

.btn {
    padding: .375rem .75rem;
    background-color: rgba(255, 68, 0, 0.829);
    border: 1px solid rgba(255, 68, 0, 0.952);
    border-radius: .25rem;
    color: #FFF;
    text-decoration: none;
    font-weight: 400;
}